---
layout: default
description: A description about my blog homepage
---

<span id="pages">
 <ul>
    {% for page in site.html_pages %}
      {% if page.title %}
        <li>
          <a href="{{ page.url }}">
            {{ page.title }}
            {% if page.ref %}
              <img 
                 src="{{ site.chiefimage }}{{ page.ref | cgi_escape }}"
                 />
            {% endif %}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</span>

<div id="posts">
 <ul>
    {% for post in paginator.posts %}
      <li>
        <span>{{ post.date | date_to_string }}</span> 
        -
        <a href="{{ post.url }}">
          {{ post.title }}
          {% if post.ref %}
            <img 
               src="{{ site.chiefimage }}{{ post.ref | cgi_escape }}"
               />
          {% else %}
            <span class="no-img"></span>
          {% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

