
/*** Fonts ***/
h1, .postdate, #paginate {
    font-family: Futura, 'Century Gothic', AppleGothic, sans-serif;
}
p, li {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

/*#header h1 {
    font-size: 24pt;
}
#body h1 {
    font-size: 18pt;
}

li {
    font-size: 12pt;
}*/


/*** Colors ***/
body, #header {
  color:            #354; /* army blanket */
  background-color: #8A9; /* Yucca plant */
}
#header > a:link, #header > a:visited, #paginate {
    color:            #354; /* army blanket */
    background-color: #8A9; /* Yucca plant */
}
XXX body, XXX a:link {
    color: #354;  /* army blanket */
    background-color: #FFD; /* creme anglaise */
}
span, .postdate {
  color:            #E00; /* wet lips */
  background-color: #FFD; /* creme anglaise */
}
#body h1, h1 div {
  color:            #354; /* army blanket */
  background-color: #FFD; /* creme anglaise */
}
#pages li a:visited, #posts li a:visited, .posts li a:visited, .post a:visited, #body > ul a:visited  {
  color:            #354; /* army blanket */
  background-color: #FE9; /* haystack */
}
#body p, #pages li, #posts li, .posts li, .post, #body > ul {
  color:            #354; /* army blanket */
  background-color: #FFD; /* creme anglaise */
}
#pages li, #posts li, .posts li {
          box-shadow: 4px 4px 2px black;
     -moz-box-shadow: 4px 4px 2px black;
  -webkit-box-shadow: 4px 4px 2px black;
       -o-box-shadow: 4px 4px 2px black;
}

.post img {
  float: right;
}

h2 {
  color:            #FE9; /* haystack */
}

/*** Layout ***/
body {
    background-image: url('/images/Carlsbad_Bats.jpg');
    background-attachment:fixed;
    background-position:center;
}

#body p, #header, #posts li, .posts li, #body > ul li, .post, .postdate, #paginate {
    margin: 7px;
    padding: 7px;
}

#pages li {
    padding: 7px;
}

h1 div {
    margin:2em;
    padding:2em;
}

.post li, #body > ul li {
    margin-left: 1em;
}


.post ul, #body > ul {
  margin:0.5em;
  padding:0.5em;
  list-style-image: url('/images/noun_project_34.png');
}

.post li a, #body > ul li a {
  font-size: larger;
  font-weight:bold;
}

#body h1, #paginate {
    text-align: center;
}

#pages ul, #posts ul, ul.posts {
    list-style: none;
}
#posts li, .posts li {
    overflow: hidden;
    /*width:20em;*/
    width: 280px;
    float:left;
          border-radius: 10px;
     -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
       -o-border-radius: 10px;
}

#pages li {
    overflow: hidden;
    width:20em;
    position: absolute;
    top: 7px;
    right: 7px;
}

#pages li img {
    float: right;
}

#posts li img, .posts li img {
  width: 280px;
  height: auto;
  margin-top: 7px;
  /*width: 100%;*/
}

h1 div {
    float: right;
}

#related {
  clear: both;
}

#header a h1 {
  display: inline;
}

#paginate {
  width: 100%;
}

li {
         transition: height 1s;
    -moz-transition: height 1s; 
 -webkit-transition: height 1s; 
      -o-transition: height 1s; 
}
